In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/ironhack-labs/lab-customer-analysis-final-round/master/files_for_lab/csv_files/marketing_customer_analysis.csv")

In [3]:
df

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [5]:
# Shape of the dataset

df.shape

(9134, 24)

In [4]:
#Statistics of the dataset

print(df.describe(include="all"))

       Customer       State  Customer Lifetime Value Response Coverage  \
count      9134        9134              9134.000000     9134     9134
unique     9134           5                      NaN        2        3
top     BU79786  California                      NaN       No    Basic
freq          1        3150                      NaN     7826     5568
mean        NaN         NaN              8004.940475      NaN      NaN
std         NaN         NaN              6870.967608      NaN      NaN
min         NaN         NaN              1898.007675      NaN      NaN
25%         NaN         NaN              3994.251794      NaN      NaN
50%         NaN         NaN              5780.182197      NaN      NaN
75%         NaN         NaN              8962.167041      NaN      NaN
max         NaN         NaN             83325.381190      NaN      NaN

       Education Effective To Date EmploymentStatus Gender        Income  ...  \
count       9134              9134             9134   9134   9134.000000  ...
unique         5                59                5      2           NaN  ...
top     Bachelor           1/10/11         Employed      F           NaN  ...
freq        2748               195             5698   4658           NaN  ...
mean         NaN               NaN              NaN    NaN  37657.380009  ...
std          NaN               NaN              NaN    NaN  30379.904734  ...
min          NaN               NaN              NaN    NaN      0.000000  ...
25%          NaN               NaN              NaN    NaN      0.000000  ...
50%          NaN               NaN              NaN    NaN  33889.500000  ...
75%          NaN               NaN              NaN    NaN  62320.000000  ...
max          NaN               NaN              NaN    NaN  99981.000000  ...

       Months Since Policy Inception Number of Open Complaints  \
count                    9134.000000               9134.000000
unique                           NaN                       NaN
top                              NaN                       NaN
freq                             NaN                       NaN
mean                       48.064594                  0.384388
std                        27.905991                  0.910384
min                         0.000000                  0.000000
25%                        24.000000                  0.000000
50%                        48.000000                  0.000000
75%                        71.000000                  0.000000
max                        99.000000                  5.000000

        Number of Policies    Policy Type       Policy  Renew Offer Type  \
count          9134.000000           9134         9134              9134
unique                 NaN              3            9                 4
top                    NaN  Personal Auto  Personal L3            Offer1
freq                   NaN           6788         3426              3752
mean              2.966170            NaN          NaN               NaN
std               2.390182            NaN          NaN               NaN
min               1.000000            NaN          NaN               NaN
25%               1.000000            NaN          NaN               NaN
50%               2.000000            NaN          NaN               NaN
75%               4.000000            NaN          NaN               NaN
max               9.000000            NaN          NaN               NaN

        Sales Channel Total Claim Amount  Vehicle Class Vehicle Size
count            9134        9134.000000           9134         9134
unique              4                NaN              6            3
top             Agent                NaN  Four-Door Car      Medsize
freq             3477                NaN           4621         6424
mean              NaN         434.088794            NaN          NaN
std               NaN         290.500092            NaN          NaN
min               NaN           0.099007            NaN          NaN
25%               NaN         272.258244            NaN          NaN
50%               NaN         383.945434            NaN          NaN
75%               NaN         547.514839            NaN          NaN
max               NaN        2893.239678            NaN          NaN

[11 rows x 24 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer                       9134 non-null   object
 1   State                          9134 non-null   object
 2   Customer Lifetime Value        9134 non-null   float64
 3   Response                       9134 non-null   object
 4   Coverage                       9134 non-null   object
 5   Education                      9134 non-null   object
 6   Effective To Date              9134 non-null   object
 7   EmploymentStatus               9134 non-null   object
 8   Gender                         9134 non-null   object
 9   Income                         9134 non-null   int64
 10  Location Code                  9134 non-null   object
 11  Marital Status                 9134 non-null   object
 12  Monthly Premium Auto           9134 non-null   int64
 13  Months Since Last Claim        9134 non-null   int64
 14  Months Since Policy Inception  9134 non-null   int64
 15  Number of Open Complaints      9134 non-null   int64
 16  Number of Policies             9134 non-null   int64
 17  Policy Type                    9134 non-null   object
 18  Policy                         9134 non-null   object
 19  Renew Offer Type               9134 non-null   object
 20  Sales Channel                  9134 non-null   object
 21  Total Claim Amount             9134 non-null   float64
 22  Vehicle Class                  9134 non-null   object
 23  Vehicle Size                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

In [7]:
df.describe() # to show the main statistics of the dataset

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
count,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000
mean,8004.940475,37657.380009,93.219291,15.097000,48.064594,0.384388,2.966170,434.088794
std,6870.967608,30379.904734,34.407967,10.073257,27.905991,0.910384,2.390182,290.500092
min,1898.007675,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000,0.099007
25%,3994.251794,0.000000,68.000000,6.000000,24.000000,0.000000,1.000000,272.258244
50%,5780.182197,33889.500000,83.000000,14.000000,48.000000,0.000000,2.000000,383.945434
75%,8962.167041,62320.000000,109.000000,23.000000,71.000000,0.000000,4.000000,547.514839
max,83325.381190,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000,2893.239678

In [8]:
df.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
       'Education', 'Effective To Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Policy Type',
       'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
       'Vehicle Class', 'Vehicle Size'],
      dtype='object')

In [9]:
#Checking for Nans

df.isna().sum()

Customer                         0
State                            0
Customer Lifetime Value          0
Response                         0
Coverage                         0
Education                        0
Effective To Date                0
EmploymentStatus                 0
Gender                           0
Income                           0
Location Code                    0
Marital Status                   0
Monthly Premium Auto             0
Months Since Last Claim          0
Months Since Policy Inception    0
Number of Open Complaints        0
Number of Policies               0
Policy Type                      0
Policy                           0
Renew Offer Type                 0
Sales Channel                    0
Total Claim Amount               0
Vehicle Class                    0
Vehicle Size                     0
dtype: int64

In [10]:
# There are no nans

In [11]:
df.dtypes

Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
dtype: object

In [ ]:
# Numerical features are Customer Lifetime Value, Income,Monthly Premium Auto, Months Since Last Claim,Months Since Policy Inception, 
#Number of Open Complaints, Number of Policies and Total Claim Amount. 

#Categorical variables are Customer, State, Response, Coverage, Education, Effective To Date, Gender , Location code, marital status, policy type, policy, renew offer type etc

In [12]:
numericals =df._get_numeric_data()

In [15]:
numericals.head()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
0,2763.519279,56274,69,32,5,0,1,384.811147
1,6979.535903,0,94,13,42,0,8,1131.464935
2,12887.431650,48767,108,18,38,0,2,566.472247
3,7645.861827,0,106,18,65,0,7,529.881344
4,2813.692575,43836,73,12,44,0,1,138.130879

In [19]:
categoricals = df.select_dtypes(object)
categoricals.head()

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize

In [7]:
# Separating the target variable from features x
X= df.drop("Total Claim Amount", axis=1)
X

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,18,89,0,2,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,14,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,9,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,34,3,0,3,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,3,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [9]:
#Setting Total Claim Amount as the target variable
y = df.loc[:,"Total Claim Amount"]
y

0        384.811147
1       1131.464935
2        566.472247
3        529.881344
4        138.130879
           ...
9129     198.234764
9130     379.200000
9131     790.784983
9132     691.200000
9133     369.600000
Name: Total Claim Amount, Length: 9134, dtype: float64

In [11]:
#Using the train test split
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.2,
                                                    random_state=0)

In [12]:
# Encoding categorical features and standardizing numeric features

print("#### X_train BEFORE preprocessing ####")
print(X_train.head())
print()

#### X_train BEFORE preprocessing ####
     Customer       State  Customer Lifetime Value Response  Coverage  \
1461  YM43461  Washington             14082.639180       No   Premium
2521  QV47358     Arizona              8133.157212       No     Basic
9031  SM10031  California              2933.498052       No  Extended
5045  YX54093     Arizona              2217.664193       No     Basic
4987  BR69566      Oregon             14019.833140       No     Basic

     Education Effective To Date EmploymentStatus Gender  Income  ...  \
1461   College           1/19/11       Unemployed      M       0  ...
2521  Bachelor           1/25/11         Employed      F   32021  ...
9031    Master            1/8/11       Unemployed      M       0  ...
5045   College           2/12/11       Unemployed      M       0  ...
4987   College           2/18/11         Employed      M   31739  ...

     Months Since Last Claim Months Since Policy Inception  \
1461                      17                            91
2521                      12                            58
9031                      22                            98
5045                      11                            69
4987                      10                            29

      Number of Open Complaints  Number of Policies    Policy Type  \
1461                          0                   2  Personal Auto
2521                          0                   2  Personal Auto
9031                          0                   1  Personal Auto
5045                          0                   1  Personal Auto
4987                          0                   2  Personal Auto

           Policy  Renew Offer Type Sales Channel  Vehicle Class Vehicle Size
1461  Personal L3            Offer1         Agent  Four-Door Car        Large
2521  Personal L2            Offer1   Call Center  Four-Door Car        Small
9031  Personal L3            Offer1        Branch  Four-Door Car      Medsize
5045  Personal L2            Offer4        Branch  Four-Door Car      Medsize
4987  Personal L3            Offer4   Call Center   Two-Door Car        Small

[5 rows x 23 columns]

In [13]:
numeric_features = [1] # Choose which column index we are going to scale
numeric_transformer = StandardScaler()

categorical_features = [0]
categorical_transformer = OneHotEncoder()

In [15]:
#Encoding categorical data
feature_encoder = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, categorical_features),
        ('num', numeric_transformer, numeric_features)
        ]
    )

In [23]:
df = df.drop(columns = "State", axis =1)
df

KeyError: "['State'] not found in axis"

In [31]:
y_train_pred = regressor.predict(X_train)
print("...Done.")
print(y_train_pred[:5])

ValueError: could not convert string to float: 'Washington'

In [ ]:
#Building the model 

# Train model
print("Train model...")
regressor = LinearRegression()
regressor.fit(X_train, y_train) 
print("...Done.")

In [ ]:
# Predictions on training set
print("Predictions on training set...")
y_train_pred = regressor.predict(X_train)
print("...Done.")
print(y_train_pred[:5]) 
print()